/* add your CSS here */
html{
  font-family: Helvetica, Arial, sans-serif;
}

#card{
 width: 300px;
 padding: 10px;
 border: 1px solid grey;
 box-shadow: 5px 5px rgba(119, 101, 101, 0.3);
}

#card-desc{
  margin: 0px;
  padding: 10px;
  border: 1px solid grey;
}

.title{
 font-weight: bold;
}

.squirrel-pic{
  width:300px;
}

.list{
  list-style: none;
  padding: 0px;
}

.label{
  font-weight: bold;
}

.facts{
  font-style: italic;
}
